@import '../../../../styles/ribbon.css';

.hidden {
  display: none;
  padding: 5px;
}

.show {
  display: block;
  padding: 5px;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.7;
}

.overlay {
  animation-duration: 0.25s;
  animation-iteration-count: 3;
  transform-origin: center;
  transition: font-size 3s;
}

/* .overlay:hover {
  cursor: pointer;
  animation-name: bounce;
  animation-timing-function: ease;
} */
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.showInfo {
  display: fixed;
  opacity: 1;
  z-index: 100;
}
.hideInfo {
  display: none;
}

.productItemInfo {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
