@import '../../../../styles/ribbon.css';

.hidden {
  display: none;
  padding: 5px;
}

.show {
  display: block;
  padding: 5px;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.7;
}

.overlay {
  animation-duration: 0.25s;
  animation-iteration-count: 3;
  transform-origin: center;
  transition: font-size 3s;
}

/* .overlay:hover {
  cursor: pointer;
  animation-name: bounce;
  animation-timing-function: ease;
} */

.showInfo {
  display: fixed;
  opacity: 1;
  z-index: 100;
}
.hideInfo {
  display: none;
}

.productItemInfo {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productImage {
  margin-top: -20%;
  width: 60%;
  border-radius: 20px;
}

.cardProduct {
  width: 20rem;
  height: fit-content;
  min-height: 70%;
  background-image: linear-gradient(220deg, rgb(205, 133, 63, 0.4), rgb(139, 69, 19, 1) 75%);

  -webkit-transition: width 1s ease-in-out, height 1s ease-in-out;
  -moz-transition: width 1s ease-in-out, height 1s ease-in-out;
  -o-transition: width 1s ease-in-out, height 1s ease-in-out;
  transition: width 1s ease-in-out, height 1s ease-in-out;
}

.cardProductInfo {
  width: 70vw;
  height: 50vh;
  background-image: linear-gradient(220deg, rgb(205, 133, 63, 0.4), rgb(139, 69, 19, 1) 75%);
  -webkit-transition: width 1s ease-in-out, height 1s ease-in-out;
  -moz-transition: width 1s ease-in-out, height 1s ease-in-out;
  -o-transition: width 1s ease-in-out, height 1s ease-in-out;
  transition: width 1s ease-in-out, height 1s ease-in-out;
}

.productBody {
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}
