.productItem {
  display: flex;
  padding-bottom: 10px;
}

#carousel.show {
  visibility: 1;
}

#carousel.hidden {
  opacity: 0;
}

#carousel {
  opacity: 1;
  transition: opacity 6s;
}

.product-scrolling {
  /*  overflow-x: hidden;
  overflow-y: auto; */

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.product-scrolling::-webkit-scrollbar {
  display: none;
}

.productRow {
  padding-bottom: 5px;
}
