.productItem {
  display: flex;
  padding-bottom: 10px;
}

#carousel.show {
  visibility: 1;
}

#carousel.hidden {
  opacity: 0;
}

#carousel {
  opacity: 1;
  transition: opacity 6s;
}

.product-scrolling {
  /*  overflow-x: hidden;
  overflow-y: auto; */

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.product-scrolling::-webkit-scrollbar {
  display: none;
}

.productRow {
  padding-bottom: 5px;
}

/* ANIMATIONS */
.slide-enter {
  transform: translateX(100%);
}
.slide-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease-in-out;
}

.slide-exit {
  transform: translate(0%, -100%);
}
.slide-exit-active {
  transform: translate(-100%, -100%);
  transition: transform 500ms ease-in-out;
}
